<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707771496958-k8ti4up834h2ivhl46isf6oos53obv5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707771496958-k8ti4up834h2ivhl46isf6oos53obv5s</string>
	<key>API_KEY</key>
	<string>AIzaSyCQyZGVleS_J0yNdUJDm-a6YhMvHITibtM</string>
	<key>GCM_SENDER_ID</key>
	<string>707771496958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SorumVar.enes</string>
	<key>PROJECT_ID</key>
	<string>sorumvar-3db73</string>
	<key>STORAGE_BUCKET</key>
	<string>sorumvar-3db73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707771496958:ios:d13a673c22118f08a768af</string>
</dict>
</plist>